<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Block</directory>
            <directory suffix=".php">../Domain</directory>
            <directory suffix=".php">../Observer</directory>
        </whitelist>
    </filter>
</phpunit>
