includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    phpVersion: 70200
    paths:
        - Api
        - Application
        - Block
        - Controller
        - CustomerData
        - Domain
        - Extensions
        - Helper
        - Logger
        - Observer
        - Presenter
        - Router
        - Setup
        - Test
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - vendor/*

    bootstrapFiles:
        - vendor/autoload.php