<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="getresponseintegration" frontName="getresponseintegration">
            <module name="GetResponse_GetResponseIntegration" />
        </route>
    </router>
</config>