<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="GetResponse_GetResponseIntegration::catalog_rules" title="GetResponse Catalog Rules" sortOrder="120"/>
            </resource>
        </resources>
    </acl>
</config>
