<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="GetResponse\GetResponseIntegration\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="GetResponse\GetResponseIntegration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">getResponse</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">GetResponse\GetResponseIntegration\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Api\Data\CustomerInterface">
        <plugin name="CustomerExtensionAttributeOperations" type="GetResponse\GetResponseIntegration\Extensions\Customer" sortOrder="1" />
    </type>
</config>
