<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="GetResponse\GetResponseIntegration\Controller\Api\ConfigurationControllerInterface"
                type="GetResponse\GetResponseIntegration\Api\Controller\ConfigurationController"/>
    <preference for="GetResponse\GetResponseIntegration\Controller\Api\SubscriberControllerInterface"
                type="GetResponse\GetResponseIntegration\Api\Controller\SubscriberController"/>
    <preference for="GetResponse\GetResponseIntegration\Api\ProductPriceRepositoryInterface"
                type="GetResponse\GetResponseIntegration\Repository\ProductPriceRepository"/>
    <preference for="GetResponse\GetResponseIntegration\Api\CatalogRuleRepositoryInterface"
                type="GetResponse\GetResponseIntegration\Repository\CatalogRuleRepository"/>

    <type name="GetResponse\GetResponseIntegration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">GetResponseIntegration</argument>
        </arguments>
    </type>
</config>
