<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="getresponse-tracking-code" xsi:type="string">
                    GetResponse\GetResponseIntegration\CustomerData\TrackingCode\CustomerSectionSource
                </item>
            </argument>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="getresponse-recommendation" xsi:type="string">
                    GetResponse\GetResponseIntegration\CustomerData\TrackingCode\WishListSectionSource
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Cms\Block\Page">
        <plugin name="getresponse-recommendation-homepage-view" type="GetResponse\GetResponseIntegration\CustomerData\Recommendation\HomePageView"/>
        <plugin name="getresponse-recommendation-blog-view" type="GetResponse\GetResponseIntegration\CustomerData\Recommendation\BlogPageView"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="getresponse-product-view" type="GetResponse\GetResponseIntegration\CustomerData\TrackingCode\ProductView"/>
        <plugin name="getresponse-recommendation-product-view" type="GetResponse\GetResponseIntegration\CustomerData\Recommendation\ProductView"/>
    </type>
    <type name="Magento\Catalog\Block\Category\View">
        <plugin name="getresponse-category-view" type="GetResponse\GetResponseIntegration\CustomerData\TrackingCode\CategoryView"/>
        <plugin name="getresponse-recommendation-category-view" type="GetResponse\GetResponseIntegration\CustomerData\Recommendation\CategoryView"/>
    </type>
    <type name="Magento\Checkout\Block\Cart">
        <plugin name="getresponse-recommendation-cart-view" type="GetResponse\GetResponseIntegration\CustomerData\Recommendation\CartView"/>
    </type>
</config>
