<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- ONE PAGE SUCCESS -->
    <event name="checkout_onepage_controller_success_action">
        <observer name="new_subscriber_after_submit" instance="GetResponse\GetResponseIntegration\Observer\CustomerSubscribedFromOrder"/>
        <observer name="create_ecommerce_order" instance="GetResponse\GetResponseIntegration\Observer\OrderObserver"/>

    </event>

    <!-- NORMAL CHECKOUT SUCCESS -->
    <event name="sales_order_save_after">
        <observer name="new_subscriber_after_submit" instance="GetResponse\GetResponseIntegration\Observer\CustomerSubscribedFromOrder"/>
    </event>

    <!-- NORMAL CHECKOUT SUCCESS -->
    <event name="sales_order_save_commit_after">
        <observer name="update_ecommerce_order" instance="GetResponse\GetResponseIntegration\Observer\OrderObserver"/>
    </event>

    <event name="checkout_cart_save_after">
        <observer name="add_cart_to_getresponse" instance="GetResponse\GetResponseIntegration\Observer\CartObserver"/>
    </event>

    <event name="newsletter_subscriber_save_after">
        <observer name="new_subscriber_from_newsletter" instance="GetResponse\GetResponseIntegration\Observer\SubscribeFromNewsletter"/>
        <observer name="subscriber_or_customer_unsubscribed" instance="GetResponse\GetResponseIntegration\Observer\SubscriberOrCustomerUnsubscribed" />
    </event>
    <event name="customer_register_success">
        <observer name="customer_register" instance="GetResponse\GetResponseIntegration\Observer\CustomerSubscribedDuringRegistration" />
    </event>
</config>
