<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_getresponse">
        <observer name="authorize_before_page_preview" instance="GetResponse\GetResponseIntegration\Observer\PreDispatchObserver" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="catalog_product_edit" instance="GetResponse\GetResponseIntegration\Observer\ProductObserver" />
    </event>
    <!-- NORMAL CHECKOUT SUCCESS -->
    <event name="sales_order_save_after">
        <observer name="update_ecommerce_order" instance="GetResponse\GetResponseIntegration\Observer\Admin\OrderObserver"/>
    </event>
    <event name="customer_save_after_data_object">
        <observer name="customer_save_after_data_object_getresponse" instance="GetResponse\GetResponseIntegration\Observer\CustomerSaveAfterDataObject" />
    </event>
    <event name="customer_address_save_after">
        <observer name="customer_address_save_after_getresponse" instance="GetResponse\GetResponseIntegration\Observer\CustomerAddressSaveAfterObject" />
    </event>
    <event name="newsletter_subscriber_save_commit_after">
        <observer name="newsletter_subscriber_save_commit_after_getresponse" instance="GetResponse\GetResponseIntegration\Observer\NewsletterSubscriberSaveCommitAfterObject" />
    </event>
</config>
