<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_getresponse">
        <observer name="authorize_before_page_preview" instance="GetResponse\GetResponseIntegration\Observer\AdminCheckAuthorization" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="catalog_product_edit" instance="GetResponse\GetResponseIntegration\Observer\ProductObserver" />
    </event>
    <!-- NORMAL CHECKOUT SUCCESS -->
    <event name="sales_order_save_after">
        <observer name="update_ecommerce_order" instance="GetResponse\GetResponseIntegration\Observer\AdminOrderObserver"/>
    </event>

</config>
